// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article{
  width:650px;
  margin:auto;
}

.footer-copyright p{
  margin:auto;
}

.page-footer{


}
.nav{
  position:fixed;
  width:100%;
}

.text-form{
  width:650px;
  height:500px;
  margin:150px auto;
}
